<tr th:each="demoUser : ${demoUsers}">
    <td th:text="${demoUser.userId}"></td>
    <td th:text="${demoUser.userName}"></td>
    <td th:text="${demoUser.userDescription}"></td>
    <td>
        <form method="POST" th:action="@{/edit(personId=${person.personId})}">
            <button type="submit" name="submit" value="value" class="link-button">EDIT</button>
        </form> |
        <form method="POST" th:action="@{/delete(personId=${person.personId})}">
            <button type="submit" name="submit" value="value" class="link-button">DELETE</button>
        </form>
    </td>
</tr>